
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">

    </div>


    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="ri-home-2-line"></i> <span>Home</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard">
                        <i class="ri-dashboard-2-line"></i> <span>Dashboard</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/schedule-donation">
                        <i class="ri-hand-heart-line"></i> <span>Agendar Doação</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/donors">
                        <i class="ri-open-arm-line"></i> <span>Doadores</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/donations">
                        <i class="ri-hearts-line"></i> <span>Doações</span>
                    </NavLink>
                </li>

            </ul>
        </div>
    </div>
    <!-- Sidebar -->
</div>

<div class="sidebar-background"></div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}