@page "/"

<PageTitle>BloodBank</PageTitle>

<div class="text-center">
    <h3>Sistema de Gerenciamento de Banco de Sangue</h3>

    <p>
        Acesse o menu de doações para registrar uma nova doação!!
    </p>
    <!--img src="fundo.webp" height="600px" alt=""-->
</div>